<div class="jumbotron">
<h1>Handdesigned nail arts<br>

from  all over the world! </h1>
<h2> Discover your favorite dsign </h2>

<% if user_signed_in? %>

<% else %>
<%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-primary" %>
<% end %>


</div>

<div class="center">



<div class="row">
 
    <% @listings.each do |listing| %>
  <div class="col-md-3">

      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %> 

          <div class="caption">
          <h3><%= listing.name %></h3>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <p><%= number_to_currency(listing.price) %></p>


            <%= link_to 'Edit', edit_listing_path(listing) %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
    </div>       

  </div>
    <% end %>

</div>


<br>

<div>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>

<% end %>

</div>
